*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/0.Reference
/1.3D_Model
/2.Docs
/3.Firmware
/4.Hardware
/6.Video
240416_MuMuVoiceChat.docx

*private*.xml

~$*.docx