<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mumuavchat.voicedemo"
    android:versionCode="1"
    android:versionName="2.0.1018.1013">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".SpeechApp"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Iflytek">
        <activity
            android:name=".test"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mumuavchat.voicedemo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mumuavchat.speech.setting.TtsSettings" />
        <activity android:name="com.mumuavchat.speech.setting.IatSettings" />
        <activity
            android:name=".IatDemo"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MuMuAVChat"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AsrDemo"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TtsDemo"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IseDemo"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".faceonline.OnlineFaceDemo"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IdentifyGroup.GroupManagerActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IdentifyGroup.FaceIdentifyActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IdentifyGroup.ResultIdentifyActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mumuavchat.speech.setting.IseSettings"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mumuavchat.speech.setting.UrlSettings"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:screenOrientation="portrait" /> <!-- 移动统计分析 -->
        <meta-data
            android:name="IFLYTEK_APPKEY"
            android:value="&apos;5cee406c&apos;" />
        <meta-data
            android:name="IFLYTEK_CHANNEL"
            android:value="Android_Demo" />
    </application>

</manifest>